<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="icon" type="image/png" href="/images/icons/favicon.png"/>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/fonts/icomoon/style.css" />

    <link rel="stylesheet" href="/vendor/bootstrap/css/owl.carousel.min.css" />

    <!-- Bootstrap CSS -->    
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="/css/auth-style.css" />

    <title>Forgot Password | BotanicLife</title>
  </head>
  <body>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-5 order-md-2">
            <img
              src="/img/undraw_file_sync_ot38.svg"
              alt="Image"
              class="img-fluid"
            />

          </div>
          <div class="col-md-7 contents">
            <div class="row justify-content-center">
              <div class="col-md-8">
                
                <%- include("../components/alert-message") %>
                 

                <div class="mb-4">
                    <div class="mb-5">
                        <a href="/">
                            <img src="/img/botaniclife-logo.png" alt="Logo">
                        </a>
                    </div>
                  <h3>Forgot Password</h3>
                </div>

                <form action="/forgot-password" method="post">
                  <div class="form-group first">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control form-control-sm" id="email" placeholder="Enter your email address" required/>
                  </div>

                  <div class="d-flex mb-5 align-items-center">
                    <button type="submit" class="btn btn-success btn-md">Send me reset link</button>
                  </div>
                  
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/vendor/bootstrap/js/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script> -->

    <script>
      $(function () {
        "use strict";

        $(".form-control").on("input", function () {
          var $field = $(this).closest(".form-group");
          if (this.value) {
            $field.addClass("field--not-empty");
          } else {
            $field.removeClass("field--not-empty");
          }
        });
      });
    </script>
  </body>
</html>
