<!-- Alert to pass message -->
<% if(flash.length > 0) { %> 
    <div class="alert alert-success alert-dismissible" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><%- flash %></strong>
    </div>
<% } %>

<!-- display the errors sent from the server in an unordered list in an alert -->

<% if(errors) { %>
    <% _.each(errors, function(error) { %>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><%- error.message %></strong>
        </div> 
    <% }) %>                    
<% } %>

<script type="text/javascript">
    // alert will be closed after 5 seconds
    setTimeout(function() {
        $('.alert').alert('close');
    }, 10000);
</script>