<style>
   #slider1 {
    background: url("/img/Forflex-slider.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    }

    #slider2 {
    background: url("/img/Cystiren-slider.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    }  

</style>

<!-- BANNER PART START -->
<div class="banner-slider" style="margin-top: 100px;">
    <div id="slider1">
        <div class="slider-text" style="position: absolute; bottom: 0; left: 0; width: 100%; height: 40%; color:rgb(52, 47, 47); padding: 20px;">
            <h1 class="mb-2"> Forflex </h1>
            <h3 class="mb-3">Enjoy Healthy Joints!</h3>
            <a href="#" class="btn">See Product <i class="icofont-bubble-right"></i></a>
        </div>
    </div>
    <div id="slider2">
        <div class="slider-text">
            <h1 class="mb-2"> CystiRen </h1>
            <h3 class="mb-3">For a healthy urinary tract!!</h3>
            <a href="#" class="btn">See Product <i class="icofont-bubble-right"></i></a>
        </div>
    </div>
</div>
<!-- BANNER PART END -->