<style>
    /* make rev_slider_2 mobile responsive */
    #rev_slider_2 {
        max-height: 100vh;
        width: 100%;
    }
</style>



<!-- Slider -->
<section class="sec-slider mb-5" style="margin-top: 68px;">
    <div class="rev_slider_wrapper">
        <div id="rev_slider_2" class="rev_slider" data-version="5.4.5" style="display:none">
            <ul>
                <!-- Slide 1 -->
                <li data-transition="fade">
                    <!--  -->
                    <img src="/img/forflex.jpg" alt="IMG-BG" class="rev-slidebg" style="filter: brightness(50%);">
                                       
                    <!--  -->
                    <h1 class="tp-caption tp-resizeme layer2" 
                    data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

                    data-visibility="['on', 'on', 'on', 'on']"

                    data-fontsize="['50', '50', '50', '50']" 
                    data-lineheight="['82', '82', '82', '82']"
                    data-color="['#fff']"
                    data-fontfamily="['Poppins']" 
                    
                    data-textAlign="['right', 'right', 'center', 'center']"
                 
                    data-x="['right']" 
                    data-y="['center']" 
                    data-hoffset="['150', '20', '0', '0']" 
                    data-voffset="['-77', '-77', '-77', '-107']"
                 
                    data-width="['650','650','768','576']"
                    data-height="['auto']" 
                    data-whitespace="['normal']" 
                 
                    data-paddingtop="[0, 0, 0, 0]"
                    data-paddingright="[15, 15, 15, 15]"
                    data-paddingbottom="[0, 0, 0, 0]"
                    data-paddingleft="[15, 15, 15, 15]"

                    data-basealign="slide" 
                    data-responsive_offset="on"
                    >
                    Enjoy Healthy Joints!
                    </h1>
                </li>


                <li data-transition="fade">
                    <!--  -->
                    <img src="/img/Cystiren-slider.jpg" alt="IMG-BG" class="rev-slidebg" style="filter: brightness(50%);">
                                       
                    <!--  -->
                    <h1 class="tp-caption tp-resizeme layer2" 
                    data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

                    data-visibility="['on', 'on', 'on', 'on']"

                    data-fontsize="['50', '50', '50', '50']"
                    data-fontweight="['600']"
                    data-fontfamily="['Barlow Condensed']"
                    data-lineheight="['82', '82', '82', '82']"
                    data-color="['#03262c']" 
                    data-textAlign="['left', 'left', 'center', 'center']"
                 
                    data-x="['left']" 
                    data-y="['center']" 
                    data-hoffset="['250', '80', '0', '0']" 
                    data-voffset="['-77', '-77', '-77', '-107']"
                 
                    data-width="['650','650','768','576']"
                    data-height="['auto']" 
                    data-whitespace="['normal']" 
                 
                    data-paddingtop="[0, 0, 0, 0]"
                    data-paddingright="[15, 15, 15, 15]"
                    data-paddingbottom="[0, 0, 0, 0]"
                    data-paddingleft="[15, 15, 15, 15]"

                    data-basealign="slide" 
                    data-responsive_offset="on"
                    >
                    For a healthy urinary tract!
                </h1>
                </li>

               
            </ul>				
        </div>
    </div>
</section>