<!-- Title page -->
<!-- HERO SECTION PART START -->
<div class="hero_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="herosection_content">
                    <h2 class="text-light"><%- title %></h2>
                    <a href="/" class="btn border-radius-0 border-transparent">
                        Home <i class="icofont-double-right"></i>
                    </a>
                    <a href="/<%- redirect %>" class="btn border-radius-0 border-transparent">
                        <%- redirect %>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- HERO SECTION PART END-->