<%- include("../partials/header") %> 

<!-- HERO SECTION PART START -->
<div class="hero_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="herosection_content">
                    <h2 class="text-light">404 Error</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- HERO SECTION PART END-->

<!-- ERROR PART START -->
<div class="error_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="error_content">
                    <h4>Opps......This page is not found.</h4>
                    <p></p>
                    <a href="<%- backLink %>" class="btn"><i class="icofont-arrow-left"></i>Back to previous page</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="error_img">
                    <img src="/img/Error_404.png" class="w-100 img-fluid" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ERROR PART END -->

<%- include("../partials/footer") %>