<%- include("../partials/header") %>

<!-- HERO SECTION PART START -->
<div class="hero_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="herosection_content">
          <h2 class="text-light">About Us</h2>
          <a href="/" class="btn border-radius-0 border-transparent">
            Home <i class="icofont-double-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- HERO SECTION PART END-->

<!-- ABOUT US PART START -->
<div class="full-about mt-5 mb-5" id="full-about">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="about-content">
          <h3>BotanicLife</h3>
        </div>
      </div>
      <div class="col-md-9">
        <div class="about-content">
          <div class="about-details">
            <p style="font-size: 18px;">
              Stay Healthy with Nature-based Supplements! Healthiness is a lifestyle
              for us at BotanicLife and we achieve this in the purest form- The use
              of natural herbs and extracts. Through meticulous research on both
              orthodox and modern medical practices, we produce supplements from the
              combination of plants, extracts, and organic and high-quality trace
              elements to ensure desired effect. Inspired by nature, our ingredients
              are responsibly sourced and screened to ensure the best quality and
              safety. Our products are also without artificial preservatives,
              colourings, flavours, aromas, or ingredients of animal origin and are
              manufactured in the best clinical environment. Our approach to
              achieving a healthy lifestyle is to treat from the grassroots through
              taking small daily actions like using dietary supplements. Combined
              with meals, our products-CystiRen, GinkgoVin, ForFlex and ProstRen
              work to facilitate the healthy functioning of the cardiovascular
              system, nervous system, prostate gland and other major organs of the
              body. It also boosts the body’s immune system hence protecting you
              from diseases and ensuring you stay healthy. We love what we do and
              put in the effort to ensure we give the best!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ABOUT US PART END -->

<%- include("../partials/footer") %>
